body {
    background: url("../images/bg12.gif") no-repeat center center fixed;
    background-size: cover;
}

.main_container {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-body img {
    margin-bottom: 10px;
}